body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 2px solid black;
}

main {
    padding-top: 30px;
    width: 60%;
    margin: auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    border-top: 1px solid black;
}
